Babel
click
colorama
cycler
Flask
flask-babel
Flask-WTF
fonttools
importlib-metadata
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
Pillow
pyparsing
python-dateutil
pytz
six
typing-extensions
Werkzeug
WTForms
zipp
